<html>
  <head>
    <meta charset="utf-8">
    <title>My Layout</title>
    <!-- Render the partial template called `css-$current_template` here -->
  </head>
  <body>
    <!-- Render the current template here -->
    {{ yield }}
  </body>
</html>