<main class="container cart-show">
<div class="grid">
  <div class="grid__col is-8">

    <h1>Your Shopping Cart</h1>
    <p class="tips">{{ .DetailsGroupName }} You Have 10 Items In Your Cart</p>

  </div>
</div>
</main>
